@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.details {
    font-family: 'pokemon-pixel-font';
    color: $font-color;
    @include flex-column;
    align-items: center;

    &__main-container {
        @include flex-column;
        align-items: center;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__title {
        margin: 1rem 0;
        font-size: .5rem;
        text-align: center;
            @include tablet {
                font-size: 1rem;
            }
    }

    &__name {
        font-size: 1rem;
        margin: 1rem 0;
            @include tablet {
                font-size: 2rem;
            }
    }

    &__img {
        height: 200px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 50%;
        margin: 1rem;
            @include tablet {
                height: 300px;
            }
    }

    &__stats {
        font-size: .75rem;
        margin: .75rem;
            @include tablet {
                font-size: 1.75rem;
                margin: 2rem;
            }            
    }

    &__containers {
        @include flex-column;
        align-items: flex-start;
        font-size: 1rem;
        margin: 2rem;
        padding: 1rem;
        border: 5px solid white;
        border-radius: 5px;
            @include tablet {
                font-size: 2rem;
            }
    }

    &__back-button {
        color: white;
        @include list;
        @include border-background;
        margin: 1rem 0 4rem 0;
        padding: 1rem;
    }
}

ul {
    @include list;
}