@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.pokemon {
    @include flex-column;
    align-items: center;
 
    
    &__main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 1rem;
        overflow-y: auto;
        max-height: 75vh;
    }
  
    &__title {
      font-family: 'pokemon-main-font';
      color: $header-font-color;
      font-size: 3rem;
      margin: 1rem;
      @include mobile-header-text;
          @include tablet {
            font-size: 6rem;
            @include tablet-header-text;
            justify-content: flex-start;
          }
    }

    &__loading {
      font-family: 'pokemon-pixel-font';
      background-color: white;
      font-size: 2rem;
        @include tablet {
          font-size: 5rem;
          margin: 3rem;
        }
    }
  
    &__container {
      font-family: 'pokemon-pixel-font';
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      transition: 0.3s ease;
      width: 35vw;
      margin: 1rem;
      padding: 1rem;
        @include tablet {
          padding: 1rem 2rem;
          margin: 1rem 2rem;
            @include desktop {
              width: 12vw;
              padding: 3rem;
              margin: 3rem;
            }
        } &:hover {
          background-color: rgba(0, 0, 0, 0.9);
          transform: scale(1.05); 
        }
    }

    &__link {
      @include flex-column;
      align-items: center;
      @include list;
      color: $font-color;
    }
  
    &__img {
      height: 12rem;
        @include tablet {
          height: 18rem;
            @include desktop {
              height: 24rem;
            }
        }
    }
  
    &__name {
      margin: .5rem;
        @include font-growth;
    }

    &__types {
      margin: .25rem;
      text-align: center;
        @include font-growth;
    }
  }

  .pokemon__container::marker {
    content: none; 
  }
  
  