@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.pokemon {
    font-family: 'pokemon-pixel-font';
    display: flex;
    align-items: center;
    flex-direction: column;

    &__main-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 90vw;
        max-height: 35rem;
        overflow-y: auto;
    }
  
    &__title {
      font-size: 2rem;
      margin: 2rem 0;
      text-align: center;
        @include tablet {
          font-size: 5rem;
          margin: 3rem 0;        }
    }
  
    &__container {
      width: 10rem;
      margin: 1rem;
      padding: 1rem 2rem;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 5px;

    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include list;
    }
  
    &__img {
      height: 14rem;
      width: 14rem;
    }
  
    &__name {
      color: white;
    }
  }

  .pokemon__container::marker {
    content: none; 
  }
  
  