@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin mobile-header-text {
  font-size: 1rem;
  -webkit-text-stroke: 1px $header-font-outline;
  letter-spacing: .5rem;
}

@mixin tablet-header-text {
  font-size: 2rem;
  -webkit-text-stroke: 2px $header-font-outline;
  letter-spacing: 1rem;
}

@mixin list {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

@mixin border-background {
  background-color: rgb(130, 33, 33);
      border-radius: 5px;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
      transition: background-color 0.3s ease, box-shadow 0.3s ease; 
      &:hover {
        background-color: rgb(150, 33, 33); 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: scale(1.05); 
      }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}