
@font-face {
    font-family: 'pokemon-main-font';
    src: url('../../assets/fonts/pokemon-logo-font/PokemonSolidNormal-xyWR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'pokemon-pixel-font';
    src: url('../../assets/fonts/pokemon-pixel-font/PokemonGb-RAeo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  