@import "../partials/variables";

.water {
background-color: $water-color;
}
  
.fire {
background-color: $fire-color;
}

.electric {
background-color: $electric-color;
}

.grass {
background-color: $grass-color;
}

.ice {
background-color: $ice-color;
}

.fighting {
background-color: $fighting-color;
}

.poison {
background-color: $poison-color;
}

.ground {
background-color: $ground-color;
}

.flying {
background-color: $flying-color;
}

.psychic {
background-color: $psychic-color;
}

.bug {
background-color: $bug-color;
}

.rock {
background-color: $rock-color;
}

.ghost {
background-color: $ghost-color;
}

.steel {
background-color: $steel-color;
}

.dragon {
background-color: $dragon-color;
}

.dark {
background-color: $dark-color;
}

.fairy {
background-color: $fairy-color;
}

.generic-color {
background-color: grey; 
}

