@import "../partials/variables";

.water {
    border: 5px solid $water-color;
}
  
.fire {
    border: 5px solid $fire-color;
}

.electric {
    border: 5px solid $electric-color;
}

.grass {
    border: 5px solid $grass-color;
}

.ice {
    border: 5px solid $ice-color;
}

.fighting {
    border: 5px solid $fighting-color;
}

.poison {
    border: 5px solid $poison-color;
}

.ground {
    border: 5px solid $ground-color;
}

.flying {
    border: 5px solid $flying-color;
}

.psychic {
    border: 5px solid $psychic-color;
}

.bug {
    border: 5px solid $bug-color;
}

.rock {
    border: 5px solid $rock-color;
}

.ghost {
    border: 5px solid $ghost-color;
}

.steel {
    border: 5px solid $steel-color;
}

.dragon {
    border: 5px solid $dragon-color;
}

.dark {
    border: 5px solid $dark-color;
}

.fairy {
    border: 5px solid $fairy-color;
}

.normal {
    border: 5px solid $normal-color; 
}

