@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.search-bar {
    margin: 1rem;
    @include flex-column;
    align-items: center;
        @include tablet {
            flex-direction: row;
        }
    
        &__label {
            margin: .5rem;
        }
}

input[type='text'] {
    padding: .5rem 4rem;
        @include tablet {
            padding: 1rem 6rem;
        }
}