@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.search-bar {
    margin: 1rem;
    @include flex-column;
    align-items: center;
        @include tablet {
            flex-direction: row;
        }
    
    &__label {
        font-size: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: $font-color;
    }
}

input[type='text'] {
    font-family: 'pokemon-pixel-font';
    margin: 1rem;
    width: 70vw;
    height: 5vh;
        @include tablet {
            width: 30vw;
        }
}