@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';


.search-bar {
    margin: 1rem;
    @include flex-column;
    align-items: center;
        @include tablet {
            flex-direction: row;
        }
    
        &__label {
            margin: .5rem;
        }
}

input[type='text'] {
    font-family: 'pokemon-pixel-font';
    margin: 1rem;
    padding: 5px;
    width: 70vw;
    height: 5vh;
        @include tablet {
            width: 30vw;
        }
}