@import '../../styles/partials/typopgraphy';
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.header {
    background: $main-background-color;
    padding: 2rem;
   
    &__nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            @include tablet {
                flex-direction: row;
                justify-content: space-between;
        
            }
    }

    &__title {
        font-family: 'pokemon-main-font';
        color: $header-font-color;
        @include mobile-header-text;
            @include tablet {
                @include tablet-header-text;
                justify-content: flex-start;
            }
    }

    &__subtitle {
        font-family: 'pokemon-pixel-font';
        text-align: center;
        color: $header-font-color;
        margin: 1rem;
    }
}

