* {
    margin: 0; 
    padding: 0;
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./assets/pokemon-pixel-background.png);
    background-position: center;
    background-repeat: repeat;
}


