* {
    margin: 0; 
    padding: 0;
}

html {
    background-image: url(./assets/pixel-art-rural-landscape-background/9285000.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120rem;
    opacity: 90%;
}

//working on a dynamic background
// .background {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-size: cover;
//     background-position: center;
//     z-index: -1; 
//   }

