* {
    margin: 0; 
    padding: 0;
}

html {
    background-image: url(./assets/pixel-art-rural-landscape-background/9285000.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120rem;
    opacity: 90%;
}


